.heading {
	text-align: center;
}

.heading-text {
	font-family: sans-serif;
	font-size: 4em;
	margin-bottom: 5vh;
}

.heading-description {
	
	font-family: sans-serif;
	font-size: 1.5em;
	color: darkgrey;

	margin-bottom: 5vh;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 5vh;
}