
.footer-section{
	display: flex;
	flex-direction: column;
}

.footer-section-content {
	list-style-type: none;
}

.footer-item {
	font-family: sans-serif;
	font-size: 1em;
	color: gray;
	margin: 20% 0;
}

.footer-item-main {
	font-family: sans-serif;
	font-size: 1.5em;
	color: black;
	margin: 10% 0;
}