.App {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 5vh;
}

.pricecards {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  align-items: flex-end;
}

.divider{
  width: 50%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-color: lightgray;
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}