.pricecard {
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
	border-radius: 5px;
	text-align: center;
	width: 25%;
}

.pricecard:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22), 0 4px 4px rgba(0,0,0,0.22), 0 8px 8px rgba(0,0,0,0.22),0 16px 16px rgba(0,0,0,0.22);
}

.pricecard-header {
	background-color: #ebebeb;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.5em;
	padding: 5% 5%;
	position: relative;
}

.small-text {
	font-size: 0.7em;
	margin-top: 2%;
	color: #828282;
}

.star{
	position: absolute;
	right: 0;
	top: 0;
	margin: 1%;
}

.pricecard-content {
	text-align: center;
	font-family: sans-serif;
	padding: 3%;
}

.pricecard-content-price {
	font-size: 1.5em;
	color: grey;
	margin-bottom: 5%;
}

.pricecard-content-description {
	color: black;
	font-size: 1em;
	text-align: center;
} 

.pricecard-content-description-item {
	margin-top: 5%;
	margin-bottom: 5%;
}

.price {
	color: black;
	font-size: 2.5em;
}

.pricecard-button {
	border: 1px solid #215cd1;
	width: 100%;
	border-radius: 5px;
	padding: 3% 0;
	text-align: center;
	margin-top: 10%;
	color: #215cd1;
}

.pricecard-button:hover {
	color: white;
	background-color: #215cd1;
}

.pricecard-button-featured {
	border: 1px solid blue;
	width: 100%;
	border-radius: 5px;
	padding: 3% 0;
	text-align: center;
	margin-top: 10%;
	background-color: #215cd1;
	color: white;
}

.pricecard-button-featured:hover {
	color: #215cd1;
	background-color: white;
}